/* DIMENSIONS */
/* COLORS */
/* ## fonts ## */
/* ## Fix the clear on elements without the required class. NB: watch it! ## */
/* ## rounded corners ## */
/* ## Box shadow ## */
/* ## Accessibility ## */
/* Places an item out of sight while keeping it available for screenreaders. */
/* Focusable elements such as links and inputs are placed back in sight on focus, for keyboard users. */
/* To hide hide text */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/* ## keyframes ## */
/* MEDIA QUERIES */
/* 
	html5doctor.com Reset Stylesheet
	v1.6.1
	Last Updated: 2010-09-17
	Author: Richard Clark - http://richclarkdesign.com 
	Twitter: @rich_clark
*/
/* line 9, ../sass/partials/base/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../sass/partials/base/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/partials/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../sass/partials/base/_reset.scss */
nav ul {
  list-style: none;
}

/* line 43, ../sass/partials/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../sass/partials/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../sass/partials/base/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../sass/partials/base/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/partials/base/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/partials/base/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/partials/base/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/partials/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../sass/partials/base/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../sass/partials/base/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 104, ../sass/partials/base/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/partials/base/_base.scss */
html, body {
  height: 100%;
}

/* line 5, ../sass/partials/base/_base.scss */
h1 {
  font-size: 36px;
  line-height: 80px;
}

/* line 10, ../sass/partials/base/_base.scss */
h2 {
  font-size: 24px;
}

/*background colors*/
/* line 16, ../sass/partials/base/_base.scss */
body.home {
  background: #4183D7;
  /*#6bbbf0*/
}

/* line 20, ../sass/partials/base/_base.scss */
body.friends {
  background: #F7B216;
}

/* line 23, ../sass/partials/base/_base.scss */
body.profile {
  background: #00B16A;
}

/* line 26, ../sass/partials/base/_base.scss */
body.find-friends {
  background: #663399;
}

/* line 29, ../sass/partials/base/_base.scss */
body.photos {
  background: #D64541;
}

/* line 32, ../sass/partials/base/_base.scss */
body.chat {
  background: #eb954e;
}

/*bootstrap overrides*/
/* line 38, ../sass/partials/base/_base.scss */
.btn.btn-success {
  background: #00B16A;
}
/* line 40, ../sass/partials/base/_base.scss */
.btn.btn-success:hover {
  background: #039158;
}

/* line 45, ../sass/partials/base/_base.scss */
.btn.btn-primary {
  background: #4183D7;
}
/* line 47, ../sass/partials/base/_base.scss */
.btn.btn-primary:hover {
  background: #2F74AE;
}

/* line 52, ../sass/partials/base/_base.scss */
a {
  color: #4183D7;
}

/* line 57, ../sass/partials/base/_base.scss */
.navbar-left {
  margin: 0;
}
/* line 59, ../sass/partials/base/_base.scss */
.navbar-left .security {
  float: left;
  list-style: none;
  padding: 10px;
}

/* line 68, ../sass/partials/base/_base.scss */
.navbar-right li .logout {
  background: #f8f8f8 !important;
}

/*basic*/
/* line 77, ../sass/partials/base/_base.scss */
.home-wrapper {
  background: #6bbbf0;
  height: 100%;
}
/* line 81, ../sass/partials/base/_base.scss */
.home-wrapper .home-block {
  text-align: center;
  padding-top: 100px;
}
/* line 85, ../sass/partials/base/_base.scss */
.home-wrapper .home-block h1 {
  font-size: 36px;
  line-height: 80px;
}
/* line 90, ../sass/partials/base/_base.scss */
.home-wrapper .home-block a {
  display: block;
  margin-bottom: 20px;
}
/* line 93, ../sass/partials/base/_base.scss */
.home-wrapper .home-block a button {
  width: 100%;
}

/*menu*/
/* line 102, ../sass/partials/base/_base.scss */
.nav > li > a {
  background: #fff;
  border: solid 1px #f5f5f5;
}

/* line 107, ../sass/partials/base/_base.scss */
.nav > li.active {
  background: transparent;
}
/* line 109, ../sass/partials/base/_base.scss */
.nav > li.active > a {
  background: #f5f5f5;
  border: solid 1px #ddd;
}
/* line 112, ../sass/partials/base/_base.scss */
.nav > li.active > a .menu-text {
  font-weight: 700;
}

/* line 120, ../sass/partials/base/_base.scss */
.navbar-collapse {
  padding-top: 5px;
  padding-bottom: 5px !important;
}
/* line 124, ../sass/partials/base/_base.scss */
.navbar-collapse .tours {
  margin: 0 10px 0 0;
}
/* line 126, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-toggle {
  background-color: #00B16A;
  border-radius: 3px;
  padding: 3px 16px 3px 5px;
}
/* line 130, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-toggle:hover {
  background-color: #049B5E;
  color: #fff;
}
/* line 133, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-toggle:hover .menu-text {
  color: #fff;
}
/* line 137, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-toggle .menu-text {
  float: left;
}
/* line 140, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-toggle .icon {
  float: left;
  margin-left: 10px;
}
/* line 143, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-toggle .icon img {
  max-width: 100%;
}
/* line 151, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-menu li a {
  padding: 0 10px;
}
/* line 153, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-menu li a:hover {
  background-color: #e7e7e7;
}
/* line 157, ../sass/partials/base/_base.scss */
.navbar-collapse .tours .dropdown-menu li label {
  padding: 15px 10px 0 10px;
}
/* line 164, ../sass/partials/base/_base.scss */
.navbar-collapse .tours.open .dropdown-toggle {
  background-color: #049B5E !important;
}

/* line 174, ../sass/partials/base/_base.scss */
.nav .menu-item-overview a {
  background-color: #4183D7;
}
/* line 179, ../sass/partials/base/_base.scss */
.nav .menu-item-friends a {
  background-color: #F9BF3B;
}
/* line 184, ../sass/partials/base/_base.scss */
.nav .menu-item-newfriends a {
  background-color: #be90d4;
}
/* line 189, ../sass/partials/base/_base.scss */
.nav .menu-item-messages a {
  background-color: #eb954e;
}
/* line 194, ../sass/partials/base/_base.scss */
.nav .menu-profile a {
  background-color: #00B16A;
}
/* line 200, ../sass/partials/base/_base.scss */
.nav .menu-item-photos a {
  background-color: #D64541;
}
/* line 206, ../sass/partials/base/_base.scss */
.nav li {
  border-radius: 3px;
  margin-bottom: 5px;
}
/* line 209, ../sass/partials/base/_base.scss */
.nav li .icon-overview {
  background-color: #4183D7;
  padding: 4px 3px;
}
/* line 212, ../sass/partials/base/_base.scss */
.nav li .icon-overview img {
  height: 33px;
  margin-left: 3px;
}
/* line 217, ../sass/partials/base/_base.scss */
.nav li .icon-friends {
  background-color: #F9BF3B;
  padding: 4px 3px;
}
/* line 220, ../sass/partials/base/_base.scss */
.nav li .icon-friends img {
  width: 35px;
}
/* line 224, ../sass/partials/base/_base.scss */
.nav li .icon-new-friends {
  background-color: #be90d4;
  padding: 4px 3px;
}
/* line 227, ../sass/partials/base/_base.scss */
.nav li .icon-new-friends img {
  height: 33px;
}
/* line 231, ../sass/partials/base/_base.scss */
.nav li .icon-messages {
  background-color: #eb954e;
  padding: 4px 3px;
}
/* line 234, ../sass/partials/base/_base.scss */
.nav li .icon-messages img {
  height: 33px;
}
/* line 239, ../sass/partials/base/_base.scss */
.nav li .icon-photos {
  background-color: #D64541;
  padding: 4px 3px;
}
/* line 242, ../sass/partials/base/_base.scss */
.nav li .icon-photos img {
  height: 30px;
}
/* line 247, ../sass/partials/base/_base.scss */
.nav li .icon {
  width: 40px;
  height: 40px;
  float: left;
  margin: 3px;
  border-radius: 3px;
}
/* line 255, ../sass/partials/base/_base.scss */
.nav li .menu-text {
  margin-left: 15px;
  color: #fff;
  font-weight: 400;
}
/* line 261, ../sass/partials/base/_base.scss */
.nav li a {
  width: 100%;
  padding: 0;
  line-height: 46px;
  border: none;
}
/* line 266, ../sass/partials/base/_base.scss */
.nav li a:hover {
  background-color: #fff;
}
/* line 268, ../sass/partials/base/_base.scss */
.nav li a:hover .menu-text {
  color: #333;
}
/* line 277, ../sass/partials/base/_base.scss */
.nav li.active a {
  background-color: #fff;
}
/* line 279, ../sass/partials/base/_base.scss */
.nav li.active a:hover {
  background-color: #fff !important;
}
/* line 282, ../sass/partials/base/_base.scss */
.nav li.active a .menu-text {
  color: #333;
}
/* line 288, ../sass/partials/base/_base.scss */
.nav .dropdown-toggle {
  background: #f8f8f8;
}
/* line 290, ../sass/partials/base/_base.scss */
.nav .dropdown-toggle:hover {
  background-color: #f8f8f8;
  color: #333;
}

/*overview page*/
/* line 302, ../sass/partials/base/_base.scss */
.post-section .panel-body {
  position: relative;
}
/* line 304, ../sass/partials/base/_base.scss */
.post-section .panel-body .alert {
  display: none;
}
/* line 306, ../sass/partials/base/_base.scss */
.post-section .panel-body .alert ul {
  list-style: none;
  line-height: 22px;
}
/* line 311, ../sass/partials/base/_base.scss */
.post-section .panel-body .alert-succes {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  position: relative;
  z-index: 99999;
}
/* line 318, ../sass/partials/base/_base.scss */
.post-section .panel-body .alert-warning {
  position: relative;
  z-index: 99999;
}
/* line 322, ../sass/partials/base/_base.scss */
.post-section .panel-body .form-group {
  width: 100%;
  position: relative;
}
/* line 325, ../sass/partials/base/_base.scss */
.post-section .panel-body .form-group textarea {
  max-width: 100%;
  margin-top: 10px;
}
/* line 329, ../sass/partials/base/_base.scss */
.post-section .panel-body .form-group .fileUpload {
  position: relative;
  overflow: hidden;
}
/* line 332, ../sass/partials/base/_base.scss */
.post-section .panel-body .form-group .fileUpload .btn-text {
  float: left;
}
/* line 336, ../sass/partials/base/_base.scss */
.post-section .panel-body .form-group .fileUpload img {
  float: left;
  width: 35px;
  margin-left: 10px;
}
/* line 342, ../sass/partials/base/_base.scss */
.post-section .panel-body .form-group .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 354, ../sass/partials/base/_base.scss */
.post-section .panel-body .form-group #file-name {
  line-height: 30px;
}
/* line 359, ../sass/partials/base/_base.scss */
.post-section .panel-body .post-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
/* line 367, ../sass/partials/base/_base.scss */
.post-section .panel-body .post-loading img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
/* line 377, ../sass/partials/base/_base.scss */
.post-section .panel-body .submit-post {
  float: right;
  padding-right: 40px;
  background-image: url("../img/icons/iconmonstr-paper-plane-icon.png");
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 25px;
}

/*posts overview*/
/* line 391, ../sass/partials/base/_base.scss */
.post-overview-container .overview-loading {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
/* line 395, ../sass/partials/base/_base.scss */
.post-overview-container .overview-loading img {
  width: 20px;
}
/* line 400, ../sass/partials/base/_base.scss */
.post-overview-container .post-heading {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 3px 3px 0 0;
  position: relative;
  z-index: 1;
  margin-bottom: -3px;
  border-bottom: solid 1px #ddd;
}
/* line 411, ../sass/partials/base/_base.scss */
.post-overview-container .post-overview .thumbnail {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.21);
  border: none;
  position: relative;
}
/* line 417, ../sass/partials/base/_base.scss */
.post-overview-container .post-overview .thumbnail .post-friend-image {
  float: left;
  margin: 0 10px 10px 0;
  width: 100px;
  height: 100px;
}
/* line 423, ../sass/partials/base/_base.scss */
.post-overview-container .post-overview .thumbnail .post-user-name {
  float: left;
}
/* line 426, ../sass/partials/base/_base.scss */
.post-overview-container .post-overview .thumbnail .post-date {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 13px;
  font-style: italic;
  color: #9b9b9b;
}
/* line 434, ../sass/partials/base/_base.scss */
.post-overview-container .post-overview .thumbnail .post-image {
  max-height: 600px;
  overflow: hidden;
}
/* line 439, ../sass/partials/base/_base.scss */
.post-overview-container .post-overview .thumbnail img {
  max-width: 100%;
}
/* line 442, ../sass/partials/base/_base.scss */
.post-overview-container .post-overview .thumbnail .post-desc {
  margin-bottom: 10px;
}

/*profile page*/
/* line 454, ../sass/partials/base/_base.scss */
.profile-info .panel-heading {
  padding: 15px 0;
  background: #fff;
}
/* line 457, ../sass/partials/base/_base.scss */
.profile-info .panel-heading .profile-menu {
  margin-top: 20px;
}
/* line 460, ../sass/partials/base/_base.scss */
.profile-info .panel-heading .menu-item {
  border: solid 1px #ddd;
}
/* line 463, ../sass/partials/base/_base.scss */
.profile-info .panel-heading .menu-item a .menu-text {
  color: #333;
}
/* line 470, ../sass/partials/base/_base.scss */
.profile-info .profile-image-thumb {
  padding: 2px;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.21);
  position: relative;
}
/* line 479, ../sass/partials/base/_base.scss */
.profile-info .profile-image-thumb .profile-image {
  width: 160px;
  height: 160px;
  display: block;
}
/* line 484, ../sass/partials/base/_base.scss */
.profile-info .profile-image-thumb .profile-image-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
/* line 491, ../sass/partials/base/_base.scss */
.profile-info .profile-image-thumb .profile-image-loading img {
  width: 20px;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
}
/* line 501, ../sass/partials/base/_base.scss */
.profile-info .fileUpload {
  position: relative;
  overflow: hidden;
  width: 164px;
  text-align: left;
}
/* line 506, ../sass/partials/base/_base.scss */
.profile-info .fileUpload .btn-text {
  float: left;
}
/* line 510, ../sass/partials/base/_base.scss */
.profile-info .fileUpload img {
  float: left;
  width: 33px;
  margin-left: 10px;
}
/* line 516, ../sass/partials/base/_base.scss */
.profile-info .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 528, ../sass/partials/base/_base.scss */
.profile-info #file-name {
  line-height: 30px;
  display: none;
}
/* line 533, ../sass/partials/base/_base.scss */
.profile-info .profile-name h1 {
  line-height: 40px;
}
/* line 538, ../sass/partials/base/_base.scss */
.profile-info .panel-body {
  position: relative;
  -webkit-box-shadow: inset 0px -56px 33px -6px white;
  -moz-box-shadow: inset 0px -56px 33px -6px white;
  box-shadow: inset 0px -56px 33px -6px white;
  background: #f5f5f5;
}
/* line 545, ../sass/partials/base/_base.scss */
.profile-info .panel-body h2 {
  padding-bottom: 5px;
}
/* line 549, ../sass/partials/base/_base.scss */
.profile-info .panel-body .edit-info {
  position: absolute;
  top: 10px;
  right: 15px;
}
/* line 558, ../sass/partials/base/_base.scss */
.profile-info .panel-body .edit-info .btn-text, .profile-info .panel-body .open-info .btn-text, .profile-info .panel-body .close-info .btn-text {
  float: left;
  line-height: 25px;
}
/* line 563, ../sass/partials/base/_base.scss */
.profile-info .panel-body .edit-info img, .profile-info .panel-body .open-info img, .profile-info .panel-body .close-info img {
  float: left;
  width: 25px;
  margin-left: 10px;
}
/* line 571, ../sass/partials/base/_base.scss */
.profile-info .panel-body .open-info img {
  width: 40px;
}
/* line 577, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-content {
  height: 150px;
  overflow: hidden;
}
/* line 581, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-content .info-block {
  padding: 10px 0;
  border-bottom: solid 1px #dddddd;
}
/* line 584, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-content .info-block strong {
  line-height: 30px;
}
/* line 588, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-content .email {
  border: none;
}
/* line 594, ../sass/partials/base/_base.scss */
.profile-info .panel-body .info-form-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
/* line 601, ../sass/partials/base/_base.scss */
.profile-info .panel-body .info-form-loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  margin-left: -10px;
}
/* line 610, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form {
  display: none;
}
/* line 613, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group label {
  margin-bottom: 10px;
}
/* line 616, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group .input-group {
  width: 100%;
}
/* line 618, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group .input-group .input-group-btn {
  width: 100%;
}
/* line 620, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group .input-group .input-group-btn button {
  width: 100%;
}
/* line 622, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group .input-group .input-group-btn button .caret {
  margin-left: 5px;
}
/* line 627, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group .input-group .input-group-addon {
  padding: 3px 12px;
  width: 50px;
}
/* line 630, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group .input-group .input-group-addon img {
  height: 24px;
}
/* line 634, ../sass/partials/base/_base.scss */
.profile-info .panel-body .profile-info-form .form-group .input-group .input-group-addon.email {
  font-size: 21px;
  color: #000;
  font-weight: 700;
  padding: 0px 13px 3px 14px;
  line-height: 22px;
}
/* line 645, ../sass/partials/base/_base.scss */
.profile-info .panel-body .submit-info {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* line 652, ../sass/partials/base/_base.scss */
.profile-info .info-header {
  margin-bottom: 20px;
}

/* line 658, ../sass/partials/base/_base.scss */
.sidebar-right .bs-photo {
  margin-top: 15px;
}
/* line 662, ../sass/partials/base/_base.scss */
.sidebar-right .sidebar-photos .row {
  margin: 0;
}
/* line 665, ../sass/partials/base/_base.scss */
.sidebar-right .sidebar-photos .photo {
  height: 146px;
  overflow: hidden;
  padding: 1px;
}
/* line 670, ../sass/partials/base/_base.scss */
.sidebar-right .sidebar-photos .photo .sidebar-image {
  height: 100%;
  width: 100%;
}
/* line 676, ../sass/partials/base/_base.scss */
.sidebar-right .sidebar-photos img {
  max-width: 100%;
}

/* line 684, ../sass/partials/base/_base.scss */
.photo-container .photo img {
  max-width: 100%;
}

/*friends page*/
/* line 692, ../sass/partials/base/_base.scss */
.friends-container .caption {
  position: relative;
}
/* line 694, ../sass/partials/base/_base.scss */
.friends-container .caption .btn-chat {
  background-color: #eb954e;
  color: #fff;
  border: solid 1px #F58324;
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 701, ../sass/partials/base/_base.scss */
.friends-container .caption .btn-chat:hover {
  background-color: #F58324;
}
/* line 709, ../sass/partials/base/_base.scss */
.friends-container .user-desc p {
  margin-top: 10px;
}
/* line 712, ../sass/partials/base/_base.scss */
.friends-container .user-desc a {
  display: block;
}
/* line 715, ../sass/partials/base/_base.scss */
.friends-container .user-desc .friend-image {
  width: 100px;
  height: 100px;
  display: block;
}

/*find friends page*/
/* line 728, ../sass/partials/base/_base.scss */
.find-friends-container .user-desc p {
  float: left;
  margin-left: 10px;
}
/* line 732, ../sass/partials/base/_base.scss */
.find-friends-container .user-desc .new-friend-image {
  width: 100px;
  height: 100px;
  float: left;
}
/* line 739, ../sass/partials/base/_base.scss */
.find-friends-container .friend-invitation {
  float: right;
}
/* line 742, ../sass/partials/base/_base.scss */
.find-friends-container .friend-invitation .btn-text {
  float: left;
  line-height: 25px;
}
/* line 747, ../sass/partials/base/_base.scss */
.find-friends-container .friend-invitation img {
  float: left;
  width: 25px;
  margin-left: 10px;
}
/* line 754, ../sass/partials/base/_base.scss */
.find-friends-container .friend-invite-succes {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  position: relative;
  z-index: 99999;
  display: none;
}
/* line 764, ../sass/partials/base/_base.scss */
.find-friends-container .accept-friends-overview .thumbnail {
  position: relative;
}
/* line 768, ../sass/partials/base/_base.scss */
.find-friends-container .accept-friends-overview .friend-accept {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* line 772, ../sass/partials/base/_base.scss */
.find-friends-container .accept-friends-overview .friend-accept .btn-text {
  float: left;
  line-height: 25px;
}
/* line 777, ../sass/partials/base/_base.scss */
.find-friends-container .accept-friends-overview .friend-accept img {
  float: left;
  width: 25px;
  margin-left: 10px;
}

/* line 786, ../sass/partials/base/_base.scss */
.friends-content {
  display: block !important;
}

/*tours*/
/* line 792, ../sass/partials/base/_base.scss */
.popover {
  max-width: 300px;
}
/* line 794, ../sass/partials/base/_base.scss */
.popover .popover-title {
  font-size: 17px;
  font-weight: 700;
}
/* line 799, ../sass/partials/base/_base.scss */
.popover .btn-prev {
  background-image: url("../img/icons/iconmonstr-arrow-21-icon-256-reverse.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left 4px center;
  padding-left: 35px;
}
/* line 805, ../sass/partials/base/_base.scss */
.popover .btn-prev:hover {
  background-image: url("../img/icons/iconmonstr-arrow-21-icon-256-reverse.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left 4px center;
}
/* line 813, ../sass/partials/base/_base.scss */
.popover .btn-next {
  background-image: url("../img/icons/iconmonstr-arrow-21-icon-256.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right 4px center;
  padding-right: 35px;
}
/* line 819, ../sass/partials/base/_base.scss */
.popover .btn-next:hover {
  background-image: url("../img/icons/iconmonstr-arrow-21-icon-256.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right 4px center;
}
/* line 827, ../sass/partials/base/_base.scss */
.popover .btn-done {
  background-image: url("../img/icons/iconmonstr-check-mark-11-icon-256.png");
  background-size: 25px;
  background-repeat: no-repeat;
  padding-right: 35px;
  background-position: right 4px center;
}
/* line 835, ../sass/partials/base/_base.scss */
.popover .btn.disabled {
  background: #fff;
  border: solid 1px #fff;
}

/* line 841, ../sass/partials/base/_base.scss */
.tour-step-background {
  background: #fff;
}

/*chat page*/
/* line 847, ../sass/partials/base/_base.scss */
.modal-dialog {
  z-index: 1100;
}
/* line 849, ../sass/partials/base/_base.scss */
.modal-dialog li {
  padding: 0;
}
/* line 851, ../sass/partials/base/_base.scss */
.modal-dialog li a {
  padding: 10px 15px;
  display: block;
}

/* line 861, ../sass/partials/base/_base.scss */
.chat-container .panel-body {
  max-height: 400px;
  overflow: auto;
}
/* line 866, ../sass/partials/base/_base.scss */
.chat-container .panel-body .empty h2 {
  margin-bottom: 15px;
}
/* line 872, ../sass/partials/base/_base.scss */
.chat-container #messages .message {
  margin-bottom: 20px;
}
/* line 874, ../sass/partials/base/_base.scss */
.chat-container #messages .message .message-text {
  margin-top: 5px;
  padding-left: 55px;
  border-bottom: solid 1px #F2F2F2;
  padding-bottom: 10px;
}
/* line 879, ../sass/partials/base/_base.scss */
.chat-container #messages .message .message-text p {
  font-size: 14px;
  line-height: 18px;
}
/* line 885, ../sass/partials/base/_base.scss */
.chat-container #messages .message .chat-image {
  float: left;
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
/* line 895, ../sass/partials/base/_base.scss */
.chat-container #sent-form {
  display: none;
}
/* line 897, ../sass/partials/base/_base.scss */
.chat-container #sent-form button {
  float: right;
}

/* line 903, ../sass/partials/base/_base.scss */
.chats-wrapper h1 {
  line-height: 40px;
  margin-bottom: 20px;
}
/* line 907, ../sass/partials/base/_base.scss */
.chats-wrapper .chat-friends {
  margin: 5px 0;
  border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 3px;
}
/* line 912, ../sass/partials/base/_base.scss */
.chats-wrapper .chat-friends a {
  padding: 5px;
  display: block;
}
/* line 916, ../sass/partials/base/_base.scss */
.chats-wrapper .chat-friends a .friend-image {
  display: block;
  height: 40px;
  width: 40px;
  float: left;
}
/* line 923, ../sass/partials/base/_base.scss */
.chats-wrapper .chat-friends a p {
  float: left;
  margin-left: 10px;
}
/* line 929, ../sass/partials/base/_base.scss */
.chats-wrapper .chat-friends.active {
  border: solid 1px #DA843C !important;
}
/* line 931, ../sass/partials/base/_base.scss */
.chats-wrapper .chat-friends.active a {
  background-color: #ffc18e !important;
  border-radius: 3px;
}

/*loading*/
/* line 939, ../sass/partials/base/_base.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 99;
}
/* line 945, ../sass/partials/base/_base.scss */
.loading img {
  left: 50%;
  top: 50%;
  position: absolute;
}

/* line 952, ../sass/partials/base/_base.scss */
.panel {
  position: relative;
}

/*angular prevent raw html*/
/* line 959, ../sass/partials/base/_base.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
    @license
    Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
    This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
    The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
    The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
    Code distributed by Google as part of the polymer project is also
    subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
 */
/**************************/
/* STYLES FOR THE SPINNER */
/**************************/
/*
 * Constants:
 *      STROKEWIDTH = 3px
 *      ARCSIZE     = 270 degrees (amount of circle the arc takes up)
 *      ARCTIME     = 1333ms (time it takes to expand and contract arc)
 *      ARCSTARTROT = 216 degrees (how much the start location of the arc
 *                                should rotate each time, 216 gives us a
 *                                5 pointed star shape (it's 360/5 * 3).
 *                                For a 7 pointed star, we might do
 *                                360/7 * 3 = 154.286)
 *      CONTAINERWIDTH = 28px
 *      SHRINK_TIME = 400ms
 */
/* line 30, ../sass/partials/base/_preloader.scss */
.preloader-wrapper {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
}
/* line 36, ../sass/partials/base/_preloader.scss */
.preloader-wrapper.small {
  width: 36px;
  height: 36px;
}
/* line 41, ../sass/partials/base/_preloader.scss */
.preloader-wrapper.big {
  width: 80px;
  height: 80px;
}
/* line 46, ../sass/partials/base/_preloader.scss */
.preloader-wrapper.active {
  /* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
  -webkit-animation: container-rotate 1568ms linear infinite;
  animation: container-rotate 1568ms linear infinite;
}

@-webkit-keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes container-rotate {
  to {
    transform: rotate(360deg);
  }
}
/* line 61, ../sass/partials/base/_preloader.scss */
.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 68, ../sass/partials/base/_preloader.scss */
.spinner-blue,
.spinner-blue-only {
  border-color: #fff;
}

/* line 73, ../sass/partials/base/_preloader.scss */
.spinner-red,
.spinner-red-only {
  border-color: #db4437;
}

/* line 78, ../sass/partials/base/_preloader.scss */
.spinner-yellow,
.spinner-yellow-only {
  border-color: #f4b400;
}

/* line 83, ../sass/partials/base/_preloader.scss */
.spinner-green,
.spinner-green-only {
  border-color: #0f9d58;
}

/**
 * IMPORTANT NOTE ABOUT CSS ANIMATION PROPERTIES (keanulee):
 *
 * iOS Safari (tested on iOS 8.1) does not handle animation-delay very well - it doesn't
 * guarantee that the animation will start _exactly_ after that value. So we avoid using
 * animation-delay and instead set custom keyframes for each color (as redundant as it
 * seems).
 *
 * We write out each animation in full (instead of separating animation-name,
 * animation-duration, etc.) because under the polyfill, Safari does not recognize those
 * specific properties properly, treats them as -webkit-animation, and overrides the
 * other animation rules. See https://github.com/Polymer/platform/issues/53.
 */
/* line 101, ../sass/partials/base/_preloader.scss */
.active .spinner-layer.spinner-blue {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* line 107, ../sass/partials/base/_preloader.scss */
.active .spinner-layer.spinner-red {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* line 113, ../sass/partials/base/_preloader.scss */
.active .spinner-layer.spinner-yellow {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* line 119, ../sass/partials/base/_preloader.scss */
.active .spinner-layer.spinner-green {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, white-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, white-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* line 125, ../sass/partials/base/_preloader.scss */
.active .spinner-layer.spinner-blue-only,
.active .spinner-layer.spinner-red-only,
.active .spinner-layer.spinner-yellow-only,
.active .spinner-layer.spinner-green-only {
  /* durations: 4 * ARCTIME */
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@-webkit-keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
  }
  /* 0.5 * ARCSIZE */
  25% {
    -webkit-transform: rotate(270deg);
  }
  /* 1   * ARCSIZE */
  37.5% {
    -webkit-transform: rotate(405deg);
  }
  /* 1.5 * ARCSIZE */
  50% {
    -webkit-transform: rotate(540deg);
  }
  /* 2   * ARCSIZE */
  62.5% {
    -webkit-transform: rotate(675deg);
  }
  /* 2.5 * ARCSIZE */
  75% {
    -webkit-transform: rotate(810deg);
  }
  /* 3   * ARCSIZE */
  87.5% {
    -webkit-transform: rotate(945deg);
  }
  /* 3.5 * ARCSIZE */
  to {
    -webkit-transform: rotate(1080deg);
  }
  /* 4   * ARCSIZE */
}
@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }
  /* 0.5 * ARCSIZE */
  25% {
    transform: rotate(270deg);
  }
  /* 1   * ARCSIZE */
  37.5% {
    transform: rotate(405deg);
  }
  /* 1.5 * ARCSIZE */
  50% {
    transform: rotate(540deg);
  }
  /* 2   * ARCSIZE */
  62.5% {
    transform: rotate(675deg);
  }
  /* 2.5 * ARCSIZE */
  75% {
    transform: rotate(810deg);
  }
  /* 3   * ARCSIZE */
  87.5% {
    transform: rotate(945deg);
  }
  /* 3.5 * ARCSIZE */
  to {
    transform: rotate(1080deg);
  }
  /* 4   * ARCSIZE */
}
@-webkit-keyframes blue-fade-in-out {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blue-fade-in-out {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes red-fade-in-out {
  from {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@keyframes red-fade-in-out {
  from {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@-webkit-keyframes yellow-fade-in-out {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
}
@keyframes yellow-fade-in-out {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
}
@-webkit-keyframes green-fade-in-out {
  from {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes green-fade-in-out {
  from {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/**
 * Patch the gap that appear between the two adjacent div.circle-clipper while the
 * spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
 */
/* line 227, ../sass/partials/base/_preloader.scss */
.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

/* line 237, ../sass/partials/base/_preloader.scss */
.gap-patch .circle {
  width: 1000%;
  left: -450%;
}

/* line 242, ../sass/partials/base/_preloader.scss */
.circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}
/* line 250, ../sass/partials/base/_preloader.scss */
.circle-clipper .circle {
  width: 200%;
  height: 100%;
  border-width: 3px;
  /* STROKEWIDTH */
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  -webkit-animation: none;
  animation: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
/* line 266, ../sass/partials/base/_preloader.scss */
.circle-clipper.left .circle {
  left: 0;
  border-right-color: transparent !important;
  -webkit-transform: rotate(129deg);
  transform: rotate(129deg);
}
/* line 272, ../sass/partials/base/_preloader.scss */
.circle-clipper.right .circle {
  left: -100%;
  border-left-color: transparent !important;
  -webkit-transform: rotate(-129deg);
  transform: rotate(-129deg);
}

/* line 282, ../sass/partials/base/_preloader.scss */
.active .circle-clipper.left .circle {
  /* duration: ARCTIME */
  -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* line 288, ../sass/partials/base/_preloader.scss */
.active .circle-clipper.right .circle {
  /* duration: ARCTIME */
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
  }
}
@keyframes left-spin {
  from {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
  }
}
@keyframes right-spin {
  from {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}
/* line 318, ../sass/partials/base/_preloader.scss */
#spinnerContainer.cooldown {
  /* duration: SHRINK_TIME */
  -webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
