html,body{
	height: 100%;
}

h1{
	font-size: $fsize-title-large;
	line-height: 80px;
}

h2{
	font-size: $fsize-title-small;
}


/*background colors*/
body.home{
	background: #4183D7;
	/*#6bbbf0*/
}
body.friends{
	background: #F7B216;
}
body.profile{
	background: #00B16A;
}
body.find-friends{
	background: #663399;
}
body.photos{
	background: #D64541;
}
body.chat{
	background: #eb954e;
}

/*bootstrap overrides*/

.btn.btn-success{
	background: #00B16A;
	&:hover{
		background:#039158;
	}
}

.btn.btn-primary{
	background: #4183D7;
	&:hover{
		background:#2F74AE;
	}
}

a{
	color: #4183D7;
}


.navbar-left{
	margin: 0;
	.security{
		float: left;
		list-style: none;
		padding: 10px;
	}
}

.navbar-right{
	li{
		.logout{
			background: #f8f8f8 !important;
		}
	}
}



/*basic*/
.home-wrapper{
	background: #6bbbf0;
	height: 100%;

	.home-block{
		text-align: center;
		padding-top:100px;

		h1{
			font-size: $fsize-title-large;
			line-height: 80px;
		}

		a{
			display: block;
			margin-bottom:20px;
			button{
				width: 100%;
			}
		}
	}
}

/*menu*/

.nav>li>a{
	background: #fff;
	border:solid 1px #f5f5f5;
}

.nav>li.active{
	background: transparent;
	>a{
		background: #f5f5f5;
		border:solid 1px #ddd;
		.menu-text{
			font-weight: 700;
		}
	}
	
	
}

.navbar-collapse{
	padding-top: 5px;
	padding-bottom: 5px !important;

	.tours{
		margin: 0 10px 0 0;
		.dropdown-toggle{
			background-color: #00B16A;
			border-radius: 3px;
			padding: 3px 16px 3px 5px;
			&:hover{
				background-color: #049B5E;
				color: #fff;
				.menu-text{
					color: #fff;
				}
			}
			.menu-text{
				float: left;
			}
			.icon{
				float: left;
				margin-left: 10px;
				img{
					max-width: 100%;
				}
			}
			
		}
		.dropdown-menu{
			li{
				a{
					padding: 0 10px;
					&:hover{
						background-color: #e7e7e7;
					}
				}
				label{
					padding: 15px 10px 0 10px;
				}
			}
		}
	}
	.tours.open{
		.dropdown-toggle{
			background-color: #049B5E !important;
		}
	}
		
}

.nav{

	.menu-item-overview{
		a{
			background-color: #4183D7;
		}
	}
	.menu-item-friends{
		a{
			background-color: #F9BF3B;
		}
	}
	.menu-item-newfriends{
		a{
			background-color: #be90d4;
		}
	}
	.menu-item-messages{
		a{
			background-color: #eb954e;
		}
	}
	.menu-profile{
		a{
			background-color: #00B16A;
		}
	}

	.menu-item-photos{
		a{
			background-color: #D64541;
		}
	}


	li{
		border-radius: 3px;
  		margin-bottom: 5px;
		.icon-overview{
			  background-color: #4183D7;
			  padding: 4px 3px;
			img{
				height: 33px;
				margin-left: 3px;
			}
		}
		.icon-friends{
			background-color: #F9BF3B;
			padding: 4px 3px;
			img{
				width: 35px;
			}
		}
		.icon-new-friends{
			background-color: #be90d4;
			  padding: 4px 3px;
			img{
				height: 33px;
			}
		}
		.icon-messages{
			background-color: #eb954e;
			  padding: 4px 3px;
			img{
				height: 33px;
			}
		}

		.icon-photos{
			background-color: #D64541;
			padding: 4px 3px;
			img{
				height: 30px;
			}
		}

		.icon{
			width: 40px;
			height: 40px;
			float: left;
			margin: 3px;
			border-radius: 3px;
		}

		.menu-text{
			margin-left: 15px;
			color: #fff;
  			font-weight: 400;
		}

		a{
			width: 100%;
  			padding: 0;
  			line-height: 46px;
  			border:none;
  			&:hover{
  				background-color:#fff;
  				.menu-text{
  					color: #333;
  				}
  			}
		}

	}

	li.active{
		a{
			background-color: #fff;
			&:hover{
  				background-color:#fff !important;
  			}
  			.menu-text{
  				color: #333;
  			}
		}
	}

	.dropdown-toggle{
		background: #f8f8f8;
		&:hover{
			background-color:#f8f8f8;
			color: #333;
		}
	}

}

/*overview page*/

.post-section{

	.panel-body{
		position: relative;
		.alert{
			display: none;
			ul{
				list-style: none;
				line-height: 22px;
			}
		}
		.alert-succes{
			color: #3c763d;
			background-color: #dff0d8;
			border-color: #d6e9c6;
			position: relative;
			z-index: 99999;
		}
		.alert-warning{
			position: relative;
			z-index: 99999;
		}
		.form-group{
			width: 100%;
			position: relative;
			textarea{
				max-width: 100%;
				margin-top: 10px;
			}
			.fileUpload {
				position: relative;
				overflow: hidden;
				.btn-text{
					float: left;
				}

				img{
					float: left;
					width: 35px;
					margin-left: 10px;
				}
			}
			.fileUpload input.upload {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				padding: 0;
				font-size: 20px;
				cursor: pointer;
				opacity: 0;
				filter: alpha(opacity=0);
			}

			#file-name{
				 line-height: 30px;
			}
		}

		.post-loading{
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  top: 0;
		  left: 0;
		  background: rgba(255,255,255,0.8);
		  display: none;
		  img{
		  	  width: 20px;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  margin-top: -15px;
			  margin-left: -15px;
		  }
		}

		.submit-post{
			float: right;
			padding-right: 40px;
			background-image: url('../img/icons/iconmonstr-paper-plane-icon.png');
			background-repeat: no-repeat;
			background-position: right 7px center;
			background-size: 25px;
		}
	}
}

/*posts overview*/

.post-overview-container{
	.overview-loading{
		width: 100%;
		text-align: center;
		margin-top: 20px;
		img{
			width: 20px;
		}
	}

	.post-heading{
		background-color: #f5f5f5;
		padding: 15px;
		border-radius: 3px 3px 0 0 ;
		position: relative;
		z-index: 1;
		margin-bottom: -3px;
		border-bottom: solid 1px #ddd;
	}

	.post-overview{
		.thumbnail{
			-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.21);
			-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.21);
			box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.21);
			border: none;
			position: relative;
			.post-friend-image{
				float: left;
	  			margin: 0 10px 10px 0;
	  			width: 100px;
	  			height: 100px;
			}
			.post-user-name{
				float: left;
			}
			.post-date{
				position: absolute;
				top: 15px;
				right: 15px;
				  font-size: 13px;
				  font-style: italic;
				  color: rgb(155, 155, 155);
			}
			.post-image{
				max-height: 600px;
  				overflow: hidden;
			}

			img{
				max-width: 100%;
			}
			.post-desc{
				margin-bottom: 10px;
			}
		}
	}
	
}

/*profile page*/

.profile-info{

	.panel-heading{
		padding: 15px 0;
  		background: #fff;
  		.profile-menu{
  			margin-top: 20px;
  		}
  		.menu-item{
  			border:solid 1px #ddd;
  			a{
  				.menu-text{
  					color:#333;
  				}
  			}
  		}
	}

	.profile-image-thumb{
		padding: 2px;
		background: #fff;
		display: inline-block;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.21);
		-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.21);
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.21);
		position: relative;
			.profile-image{
				width: 160px;
				height: 160px;
				display: block;
			}
			.profile-image-loading{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255, 0.8);
				img{
					width: 20px;
					left: 50%;
					top: 50%;
					margin-left: -20px;
					margin-top: -20px;
					position: absolute;
				}
			}
	}
	.fileUpload {
		position: relative;
		overflow: hidden;
		width: 164px;
		text-align: left;
			.btn-text{
				float: left;
			}

			img{
				float: left;
				width: 33px;
				margin-left: 10px;
			}
	}
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	#file-name{
		line-height: 30px;
		display: none;
	}
	.profile-name{
		h1{
			line-height: 40px;
		}
	}

	.panel-body{
		position: relative;
		-webkit-box-shadow: inset 0px -56px 33px -6px rgba(255,255,255,1);
		-moz-box-shadow: inset 0px -56px 33px -6px rgba(255,255,255,1);
		box-shadow: inset 0px -56px 33px -6px rgba(255,255,255,1);
		background: #f5f5f5;

		h2{
			padding-bottom: 5px;
		}

		.edit-info{
			position: absolute;
			top: 10px;
			right: 15px;
		}


		.edit-info, .open-info, .close-info{
			
			.btn-text{
				float: left;
				line-height: 25px;
			}

			img{
				float: left;
				width: 25px;
				margin-left: 10px;
			}
		}

		.open-info{
			img{
				width: 40px;
			}
		}

		
		.profile-info-content{
			height: 150px;
  			overflow: hidden;

			.info-block{
				padding: 10px 0;
	  			border-bottom: solid 1px rgb(221, 221, 221);
	  			strong{
	  				  line-height: 30px;
	  			}
			}
			.email{
				border: none;
			}
			
		}

		.info-form-loading{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.8);
			img{
				position: absolute;
				left: 50%;
				top: 50%;
				width: 20px;
				margin-left: -10px;
			}
		}

		.profile-info-form{
			display: none;
			.form-group{
				label{
					margin-bottom: 10px;
				}
				.input-group{
					width: 100%;
					.input-group-btn{
						width: 100%;
						button{
							width: 100%;
							.caret{
								margin-left: 5px;
							}
						}
					}
					.input-group-addon{
						padding: 3px 12px;
						width: 50px;
						img{
							height: 24px;
						}
					}
					.input-group-addon.email{
						font-size: 21px;
						color: #000;
						font-weight: 700;
						padding: 0px 13px 3px 14px;
						line-height: 22px;
					}
				}
			}
		}

		.submit-info{
			position: absolute;
			top: 15px;
			right: 15px;
		}
	}

	.info-header{
		margin-bottom: 20px;
	}
}

.sidebar-right{
	.bs-photo{
			margin-top: 15px;
		}
	.sidebar-photos{
		.row{
			margin: 0;
		}
		.photo{
			height: 146px;
			overflow: hidden;
			padding: 1px;

			.sidebar-image{
				height: 100%;
				width: 100%;
			}

		}
		img{
			max-width: 100%;
		}
	}
}

.photo-container{
	.photo{
		img{
			max-width: 100%;
		}
	}
}
/*friends page*/

.friends-container{
	.caption{
		position: relative;
		.btn-chat{
			background-color: #eb954e;
			color: #fff;
			border: solid 1px #F58324;
			position: absolute;
			right: 15px;
			top: 15px;
			&:hover{
				background-color:#F58324;
			}
		}
	}
	

	.user-desc{
		p{
			margin-top: 10px;
		}
		a{
			display: block;
		}
		.friend-image{
			width: 100px;
			height: 100px;
			display: block;
		}
	}

}

/*find friends page*/

.find-friends-container{
	.user-desc{
		p{
			float: left;
			margin-left: 10px;
		}
		.new-friend-image{
			width: 100px;
			height: 100px;
			float: left;
		}
	}

	.friend-invitation{
		float: right;

		.btn-text{
				float: left;
				line-height: 25px;
		}

		img{
			float: left;
			width: 25px;
			margin-left: 10px;
		}
	}

	.friend-invite-succes{
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
		position: relative;
		z-index: 99999;
		display: none;
	}

	.accept-friends-overview{
		.thumbnail{
			position: relative;
		}

		.friend-accept{
			position: absolute;
			top: 15px;
			right: 15px;
			.btn-text{
				float: left;
				line-height: 25px;
			}

			img{
				float: left;
				width: 25px;
				margin-left: 10px;
			}
		}
	}
}

.friends-content{
	display: block !important;
}

/*tours*/

.popover{
	max-width: 300px;
	.popover-title{
		font-size: 17px;
		font-weight: 700;
	}

	.btn-prev{
		background-image: url('../img/icons/iconmonstr-arrow-21-icon-256-reverse.png');
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: left 4px center;
		padding-left: 35px;
		&:hover{
			background-image: url('../img/icons/iconmonstr-arrow-21-icon-256-reverse.png');
			background-size: 25px;
			background-repeat: no-repeat;
			background-position: left 4px center;
		}
	}

	.btn-next{
		background-image: url('../img/icons/iconmonstr-arrow-21-icon-256.png');
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: right 4px center;
		padding-right: 35px;
		&:hover{
			background-image: url('../img/icons/iconmonstr-arrow-21-icon-256.png');
			background-size: 25px;
			background-repeat: no-repeat;
			background-position: right 4px center;
		}
	}

	.btn-done{
		background-image: url('../img/icons/iconmonstr-check-mark-11-icon-256.png');
		background-size: 25px;
		background-repeat: no-repeat;
		padding-right: 35px;
		background-position: right 4px center;
	}

	.btn.disabled{
		background: #fff;
		border:solid 1px #fff;
	}
}

.tour-step-background{
	background: #fff;
}

/*chat page*/

.modal-dialog{
	z-index: 1100;
	li{
		padding: 0;
		a{
			padding: 10px 15px;
			display: block;
		}
	}

}


.chat-container{
	.panel-body{
		max-height: 400px;
		overflow: auto;

		.empty{
			h2{
				margin-bottom: 15px;
			}
		}
	}
	#messages{
		.message{
			margin-bottom: 20px;
			.message-text{
				margin-top: 5px;
				padding-left: 55px;
				border-bottom: solid 1px #F2F2F2;
				padding-bottom: 10px;
				p{
					font-size: 14px;
					line-height: 18px;
				}
			}
			
			.chat-image{
				  float: left;
				  display: block;
				  height: 40px;
				  width: 40px;
				  margin-right: 15px;
			}
		}			
	}

	#sent-form{
		display: none;
		button{
			float: right;
		}
	}
}
.chats-wrapper{
	h1{
		line-height: 40px;
		margin-bottom: 20px;
	}
	.chat-friends{
		margin: 5px 0;
		border: solid 1px #ddd;
		background-color: #fff;
  		border-radius: 3px;
		a{
			padding: 5px;
			display: block;
			  
			.friend-image{
			 display: block;
			  height: 40px;
			  width: 40px;
			  float: left;

			}
			p{
				float: left;
				margin-left: 10px;
			}
		}
	}
	.chat-friends.active{
		border: solid 1px #DA843C !important;
		a{
			background-color: rgb(255, 193, 142) !important;
			border-radius: 3px;
		}
	}
}

/*loading*/
.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255,255,255,0.6);
	z-index: 99;
	img{
		  left: 50%;
		  top: 50%;
		  position: absolute;
	}
}

.panel{
	position: relative;
}



/*angular prevent raw html*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

