// Fall back values for ie boolean vars
$ie7: false !default;
$ie8: false !default;
$ie9: false !default;

$lte-ie7: false !default;
$lte-ie8: false !default;
$lte-ie9: false !default;

/* DIMENSIONS */
$min-width: 940px;
$max-width: 1280px;
$white-space: 80px;

/* COLORS */

$default-font-color: #3f3f3f;
$info-block-color: #F4F4F4;
$header-color: #000;
$menu-background: #151515;
$white: #fff;

//font-sizes
$fsize-default: 12px;
$fsize-breadcrumb: 36px;
$fsize-title-small: 24px;
$fsize-title-large: 36px;

//defaults
$lineheight-default: 16px;

/* ## fonts ## */
@mixin default-fontfamily { font-family: 'PT Sans', sans-serif;}

@mixin heading-fontfamily { font-family: 'PT Sans', sans-serif; }

/* ## Fix the clear on elements without the required class. NB: watch it! ## */
@mixin cf { *zoom:1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}


@function em($target, $base: 16) {
    @return ($target / $base)* 1em;
}

/* ## rounded corners ## */
@mixin rounded-corners ($radius: 5px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius; }


//transitions
@mixin transition-mixin ($trans: 1s) {
    -webkit-transition: all $trans ease-in-out;
    -moz-transition: all $trans ease-in-out;
    -o-transition: all $trans ease-in-out;
    transition: all $trans ease-in-out;
}



         

/* ## Box shadow ## */
@mixin dropshadow($hor:2px,$vert:2px,$blur:2px,$spread:2px,$color:rgba(0,0,0,0.3)) {
	-webkit-box-shadow: $hor $vert $blur $spread $color;
	-moz-box-shadow: $hor $vert $blur $spread $color;
	box-shadow: $hor $vert $blur $spread $color;
} 
@mixin dropshadow-inset($hor:2px,$vert:2px,$blur:2px,$spread:2px,$color:rgba(0,0,0,0.3)) { -webkit-box-shadow: $hor $vert $blur $spread $color inset; -moz-box-shadow: $hor $vert $blur $spread $color inset; box-shadow: $hor $vert $blur $spread $color inset; }

@mixin textshadow {
  text-shadow:2px 1px 2px rgba(0,0,0,0.3);
}

/* ## Accessibility ## */
/* Places an item out of sight while keeping it available for screenreaders. */
/* Focusable elements such as links and inputs are placed back in sight on focus, for keyboard users. */
@mixin accHide { position:absolute; left:-999em; top:0; &:focus { left:1em; } }

/* To hide hide text */
@mixin hide-text { text-indent:100%; white-space:nowrap; overflow:hidden; }
@mixin show-text { text-indent:0; white-space:normal; overflow:auto; }

@mixin box-sizing {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
@mixin no-box-sizing { -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }

@mixin ellipsIt { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}



@mixin transition( $property: all, $time: 1s, $timing: ease-out) {
    $value: $property $time $timing;
    @include vendor( transition, $value );
}


/* ## keyframes ## */
@mixin keyframes($name) {
  @keyframes $name { @content; }
  @-webkit-keyframes $name {  @content; }
  @-moz-keyframes $name {  @content; }
}


/* MEDIA QUERIES */
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;
$desktop-large: 1200px;

// HOW TO:
// @include device(mobile) { ... }
// @include device(tablet) { ... }
// @include device(desktop) { ... }

@mixin device($device) {
  @if $device == mobile {
  	@media only screen and (max-width: $mobile) { @content; }
  }
  @else if $lte-ie8 {
  	@content;
  }
  @else if $device == tablet {
    @media only screen and (max-width: $tablet) { @content; }
  }
  @else if $device == desktop {
    @media only screen and (min-width: $desktop) { @content; }
  }
  @else if $device == desktop-small {
    @media only screen and (max-width: $desktop) { @content; }
  }
  @else if $device == desktop-large {
    @media only screen and (max-width: $desktop-large) { @content; }
  }
}

//RETINA MIXIN
@mixin retina() {
	@media only screen and (-webkit-min-device-pixel-ratio:2) {
		background-size:auto 100%;
    	@content;
    }
}